@use 'sass:map';
@use 'sass:color';

$text-color: #475467;
$border-color: #d5d5d5;
$deep-purple: #341354;
$medium-purple: #8327cb;
$light-blue: #93edfe;

// ALLY Color Variables
$colors: (
  "base-white": #FFFFFF,
  "base-black": #000000,
  "base-transparent": #FFFFFF00,
  "gray-light-mode-25": #FCFCFD,
  "gray-light-mode-50": #F9FAFB,
  "gray-light-mode-100": #F2F4F7,
  "gray-light-mode-200": #EAECF0,
  "gray-light-mode-300": #D0D5DD,
  "gray-light-mode-400": #98A2B3,
  "gray-light-mode-500": #667085,
  "gray-light-mode-600": #475467,
  "gray-light-mode-700": #344054,
  "gray-light-mode-800": #182230,
  "gray-light-mode-900": #101828,
  "gray-light-mode-950": #0C111D,
  "gray-dark-mode-25": #FAFAFA,
  "gray-dark-mode-50": #F5F5F6,
  "gray-dark-mode-100": #F0F1F1,
  "gray-dark-mode-200": #ECECED,
  "gray-dark-mode-300": #CECFD2,
  "gray-dark-mode-400": #94969C,
  "gray-dark-mode-500": #85888E,
  "gray-dark-mode-600": #61646C,
  "gray-dark-mode-700": #333741,
  "gray-dark-mode-800": #1F242F,
  "gray-dark-mode-900": #161B26,
  "gray-dark-mode-950": #0C111D,
  "gray-dark-mode-alpha-25": #FFFFFFFA,
  "gray-dark-mode-alpha-50": #FFFFFFF5,
  "gray-dark-mode-alpha-100": #FFFFFFF0,
  "gray-dark-mode-alpha-200": #FFFFFFEB,
  "gray-dark-mode-alpha-300": #FFFFFFCC,
  "gray-dark-mode-alpha-400": #FFFFFF8F,
  "gray-dark-mode-alpha-500": #FFFFFF80,
  "gray-dark-mode-alpha-600": #FFFFFF59,
  "gray-dark-mode-alpha-700": #FFFFFF29,
  "gray-dark-mode-alpha-800": #FFFFFF14,
  "gray-dark-mode-alpha-900": #FFFFFF0A,
  "gray-dark-mode-alpha-950": #FFFFFF00,
  "brand-25": #FAF7FD,
  "brand-50": #F6ECFF,
  "brand-100": #EDDBFD,
  "brand-200": #DCC4F0,
  "brand-300": #CBB1E2,
  "brand-400": #B59ACD,
  "brand-500": #8E6DAC,
  "brand-600": #684688,
  "brand-700": #4F2A72,
  "brand-800": #341354,
  "brand-900": #2A0F43,
  "brand-950": #150822,
  "error-25": #FFFBFA,
  "error-50": #FEF3F2,
  "error-100": #FEE4E2,
  "error-200": #FECDCA,
  "error-300": #FDA29B,
  "error-400": #F97066,
  "error-500": #F04438,
  "error-600": #D92D20,
  "error-700": #B42318,
  "error-800": #912018,
  "error-900": #7A271A,
  "error-950": #55160C,
  "warning-25": #FFFCF5,
  "warning-50": #FFFAEB,
  "warning-100": #FEF0C7,
  "warning-200": #FEDF89,
  "warning-300": #FEC84B,
  "warning-400": #FDB022,
  "warning-500": #F79009,
  "warning-600": #DC6803,
  "warning-700": #B54708,
  "warning-800": #93370D,
  "warning-900": #7A2E0E,
  "warning-950": #4E1D09,
  "success-25": #F6FEF9,
  "success-50": #ECFDF3,
  "success-100": #DCFAE6,
  "success-200": #ABEFC6,
  "success-300": #75E0A7,
  "success-400": #47CD89,
  "success-500": #17B26A,
  "success-600": #079455,
  "success-700": #067647,
  "success-800": #085D3A,
  "success-900": #074D31,
  "success-950": #053321,
  "values-structures": #5DF0F1,
  "culture-skills": #FC59C9,
  "communication-participation": #0F47D7,
  "methods-processes": #CE75F5
);

@mixin category-gradient($color) {
  background: linear-gradient(
    63deg,
    $color 6.28%,
    color.adjust($color, $lightness: -10%) 92.94%
  );
  border-radius: 10.022px;
}

// Category gradient classes
.category-values-structures {
  @include category-gradient(map.get($colors, "values-structures"));
}
.category-culture-skills {
  @include category-gradient(map.get($colors, "culture-skills"));
}
.category-communication-participation {
  @include category-gradient(map.get($colors, "communication-participation"));
}
.category-methods-processes {
  @include category-gradient(map.get($colors, "methods-processes"));
}
